.version._14072016 /* version checker */
{
	color: #00001D;
	background-color: #ED7492;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 997px;
	min-height: 1458px;
	background: -webkit-gradient(linear, left center, right center, from(#574791),color-stop(100%, #346695));
	background: -webkit-linear-gradient(left,#574791 ,#346695 100%);
	background: linear-gradient(to right,#574791 ,#346695 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF574791, endColorstr=#FF346695, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF574791', endColorstr='#FF346695', GradientType=1)";
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 112px 22px 111px;
}

#pu161
{
	width: 0.01px;
	margin-left: 19px;
}

#u161
{
	z-index: 25;
	width: 159px;
	margin-right: -10000px;
}

#u160
{
	z-index: 2;
	width: 353px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 603px;
}

#u149
{
	z-index: 3;
	width: 353px;
	margin-right: -10000px;
}

#u143
{
	z-index: 4;
	width: 353px;
	margin-right: -10000px;
}

#u145
{
	z-index: 5;
	width: 98px;
	height: 34px;
	margin-right: -10000px;
}

#u146
{
	z-index: 6;
	width: 99px;
	height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u147
{
	z-index: 7;
	width: 72px;
	height: 34px;
	margin-right: -10000px;
	left: 202px;
}

#u148
{
	z-index: 8;
	width: 77px;
	height: 34px;
	margin-right: -10000px;
	left: 276px;
}

.ie #u145,.ie #u146,.ie #u147,.ie #u148
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u150-4
{
	z-index: 9;
	width: 73px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 110px;
}

#u150-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u151-4
{
	z-index: 13;
	width: 73px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u150-4.MuseLinkActive,#u151-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u151-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u152-4
{
	z-index: 17;
	width: 49px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 212px;
}

#u152-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 49px;
	margin: 6px -10000px 0px 0px;
}

#u152-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 49px;
	margin: 6px -10000px 0px 0px;
}

#u153-4
{
	z-index: 21;
	width: 54px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 288px;
}

#u153-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 54px;
	margin: 6px -10000px 0px 0px;
}

#u153-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 54px;
	margin: 6px -10000px 0px 0px;
}

#u710
{
	z-index: 31;
	width: 997px;
	background-color: #FAFAFA;
	padding-bottom: 65px;
	margin-top: 35px;
	position: relative;
}

#u1081
{
	z-index: 32;
	width: 910px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1221-5
{
	z-index: 33;
	width: 820px;
	min-height: 74px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1221
{
	font-size: 29px;
	text-align: justify;
	line-height: 35px;
}

#u1221-3
{
	font-size: 30px;
	text-align: left;
	line-height: 36px;
}

#u1151-6
{
	z-index: 38;
	width: 820px;
	min-height: 48px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1151-4
{
	text-align: justify;
}

#u1163
{
	z-index: 706;
	width: 820px;
	min-height: 414px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#pu1330
{
	width: 0.01px;
	margin-left: 89px;
	margin-top: 50px;
}

#u1330
{
	z-index: 75;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u1330_clip
{
	overflow: hidden;
	width: 330px;
	height: 297px;
}

#u1330_img
{
	margin-top: -8px;
}

#u1170-13
{
	z-index: 77;
	width: 490px;
	min-height: 285px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u1170-2
{
	font-size: 20px;
	line-height: 30px;
	padding-left: 12px;
	padding-top: 11px;
}

#u1170-3,#u1170-8,#u1170-9,#u1170-11
{
	font-size: 16px;
	line-height: 24px;
	padding-left: 12px;
}

#u1102-29
{
	z-index: 44;
	width: 820px;
	min-height: 741px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1174
{
	z-index: 90;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1174_clip
{
	overflow: hidden;
	width: 820px;
	height: 371px;
}

#u1174_img
{
	margin-bottom: -8px;
}

#u1104-8
{
	z-index: 92;
	width: 820px;
	min-height: 96px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1179
{
	z-index: 100;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1347-6
{
	z-index: 102;
	width: 820px;
	min-height: 102px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1186
{
	z-index: 108;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1160
{
	z-index: 73;
	width: 820px;
	background-color: transparent;
	margin-left: 89px;
	margin-top: 19px;
	position: relative;
}

#u1160_clip
{
	overflow: hidden;
	width: 820px;
	height: 526px;
}

#u1160_img
{
	margin-right: -52px;
}

#u1099-13
{
	z-index: 110;
	width: 820px;
	min-height: 77px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	margin-top: 1px;
	position: relative;
}

#slideshowu1292
{
	z-index: 123;
	width: 0.01px;
	height: 519px;
	margin-left: 1px;
	position: relative;
}

#u1314popup
{
	z-index: 124;
}

#u1315
{
	z-index: 125;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1323
{
	z-index: 127;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1319
{
	z-index: 129;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1321
{
	z-index: 131;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1317
{
	z-index: 133;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1303popup
{
	z-index: 135;
}

#u1306
{
	z-index: 136;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u1308
{
	z-index: 138;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 4px;
}

#u1310
{
	z-index: 140;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 4px;
}

#u1312
{
	z-index: 142;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 4px;
}

#u1304
{
	z-index: 144;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 4px;
}

#u1326-4popup
{
	z-index: 146;
}

#u1296-4popup
{
	z-index: 150;
}

#u1295-4popup
{
	z-index: 154;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1082-15
{
	z-index: 158;
	width: 820px;
	min-height: 224px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1228
{
	z-index: 476;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1098-30
{
	z-index: 173;
	width: 820px;
	min-height: 77px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	margin-left: 89px;
	position: relative;
}

#u1098-12,#u1098-15,#u1098-21
{
	color: #305AA5;
}

#u1188
{
	z-index: 465;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1095-9
{
	z-index: 467;
	width: 820px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	margin-left: 89px;
	margin-top: 1px;
	position: relative;
}

#u1339
{
	z-index: 203;
	width: 820px;
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1218-6
{
	z-index: 205;
	width: 820px;
	min-height: 46px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1083
{
	z-index: 211;
	width: 820px;
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1154-6
{
	z-index: 215;
	width: 820px;
	min-height: 46px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1219
{
	z-index: 213;
	width: 820px;
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1107-6
{
	z-index: 221;
	width: 820px;
	min-height: 75px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	margin-left: 89px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1092
{
	z-index: 227;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1112-16
{
	z-index: 229;
	width: 820px;
	min-height: 46px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1094-7
{
	z-index: 245;
	width: 820px;
	min-height: 48px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	font-family: open-sans, sans-serif;
	margin-left: 89px;
	margin-top: 72px;
	position: relative;
}

#u1094-5
{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

#u1100
{
	z-index: 252;
	width: 820px;
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1115-4
{
	z-index: 254;
	width: 820px;
	min-height: 34px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 21px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1115-2
{
	padding-top: 6px;
}

#u1111-23
{
	z-index: 258;
	width: 820px;
	min-height: 261px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1332
{
	z-index: 281;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1332_clip
{
	overflow: hidden;
	width: 820px;
	height: 369px;
}

#u1332_img
{
	margin-top: -7px;
}

#u1108-13
{
	z-index: 283;
	width: 820px;
	min-height: 75px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1172
{
	z-index: 296;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1184-19
{
	z-index: 298;
	width: 820px;
	min-height: 75px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1336
{
	z-index: 317;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1152
{
	z-index: 332;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	margin-top: 23px;
	position: relative;
}

#u1185-11
{
	z-index: 321;
	width: 820px;
	min-height: 75px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1085
{
	z-index: 319;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1344
{
	z-index: 662;
	width: 820px;
	background-color: transparent;
	margin-left: 88px;
	margin-top: 17px;
	position: relative;
}

#u1171-13
{
	z-index: 334;
	width: 820px;
	min-height: 75px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1171-7
{
	font-size: 20px;
	line-height: 30px;
}

#u1171,#u1171-4,#u1171-5,#u1171-8,#u1171-10,#u1171-11
{
	font-size: 16px;
	line-height: 24px;
}

#u1109
{
	z-index: 347;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1158-8
{
	z-index: 349;
	width: 820px;
	min-height: 75px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#slideshowu1192
{
	z-index: 357;
	width: 0.01px;
	height: 618px;
	position: relative;
}

#u1211
{
	position: absolute;
	width: 820px;
	height: 560px;
	background-color: transparent;
	left: 88px;
}

#u1211popup
{
	z-index: 358;
}

#u1214
{
	z-index: 359;
	width: 820px;
	height: 560px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1214_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u1216
{
	z-index: 361;
	width: 820px;
	height: 560px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1216_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u1212
{
	z-index: 363;
	width: 820px;
	height: 560px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1214_clip,#u1216_clip,#u1212_clip
{
	overflow: hidden;
	width: 820px;
	height: 560px;
}

#u1199
{
	position: absolute;
	width: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	top: 6px;
}

#u1199popup
{
	z-index: 365;
}

#u1204
{
	z-index: 366;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u1200
{
	z-index: 368;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 4px;
}

#u1202
{
	z-index: 370;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 4px;
}

#u1204_clip,#u1200_clip,#u1202_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u1208-4
{
	position: absolute;
	width: 203px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 578px;
	left: 387px;
}

#u1208-4popup
{
	z-index: 372;
}

#u1198-4
{
	position: absolute;
	width: 153px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 578px;
	left: 211px;
}

#u1198-4popup
{
	z-index: 376;
}

#u1197-4
{
	position: absolute;
	width: 152px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 577px;
	left: 614px;
}

#u1197-4popup
{
	z-index: 380;
}

#u1176-9
{
	z-index: 384;
	width: 820px;
	min-height: 98px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 88px;
	position: relative;
}

#slideshowu1118
{
	z-index: 393;
	width: 0.01px;
	height: 519px;
	position: relative;
}

#u1132popup
{
	z-index: 394;
}

#u1135
{
	z-index: 395;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1139
{
	z-index: 397;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1133
{
	z-index: 399;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1137
{
	z-index: 401;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1137_img
{
	margin-top: -9px;
	margin-bottom: -9px;
}

#u1123popup
{
	z-index: 403;
}

#u1130
{
	z-index: 404;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u1124
{
	z-index: 406;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 4px;
}

#u1128
{
	z-index: 408;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 4px;
}

#u1126
{
	z-index: 410;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 4px;
}

#u1120-4popup
{
	z-index: 412;
}

#u1121-4popup
{
	z-index: 416;
}

#u1141-4popup
{
	z-index: 420;
}

#u1117-6
{
	z-index: 426;
	width: 820px;
	min-height: 38px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 88px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1090
{
	z-index: 424;
	width: 820px;
	background-color: transparent;
	margin-left: 88px;
	position: relative;
}

#u1162-6
{
	z-index: 432;
	width: 820px;
	min-height: 38px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 88px;
	position: relative;
}

#u1168
{
	z-index: 438;
	width: 820px;
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1182
{
	z-index: 440;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 88px;
	margin-top: 19px;
	position: relative;
}

#u1346-12
{
	z-index: 442;
	width: 820px;
	min-height: 38px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	margin-top: 1px;
	position: relative;
}

#u1222
{
	z-index: 454;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 88px;
	position: relative;
}

#u1177
{
	z-index: 611;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 88px;
	margin-top: 23px;
	position: relative;
}

#u1315_img,#u1323_img,#u1319_img,#u1321_img,#u1317_img,#u1212_img,#u1133_img,#u1177_img
{
	margin-bottom: -1px;
}

#u1181-9
{
	z-index: 456;
	width: 820px;
	min-height: 162px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 88px;
	margin-top: 2px;
	position: relative;
}

#slideshowu1256
{
	z-index: 613;
	width: 0.01px;
	height: 519px;
	position: relative;
}

#u1257popup
{
	z-index: 614;
}

#u1264
{
	z-index: 615;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1258
{
	z-index: 617;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1264_img,#u1258_img
{
	margin-left: -2px;
	margin-right: -1px;
}

#u1266
{
	z-index: 619;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1204_img,#u1200_img,#u1202_img,#u1266_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u1260
{
	z-index: 621;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1260_img
{
	margin-left: -1px;
	margin-right: -2px;
}

#u1262
{
	z-index: 623;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1262_img
{
	margin-right: -1px;
}

#u1272
{
	position: absolute;
	width: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
}

#u1272popup
{
	z-index: 625;
}

#u1273
{
	z-index: 626;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u1279
{
	z-index: 628;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 4px;
}

#u1275
{
	z-index: 630;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 4px;
}

#u1277
{
	z-index: 632;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 4px;
}

#u1312.SSSlideLinkSelected,#u1126.SSSlideLinkSelected,#u1277.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 165px -10000px 0px 0px;
}

#u1281
{
	z-index: 634;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 4px;
}

#u1304.SSSlideLinkSelected,#u1281.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u1291-4popup
{
	z-index: 636;
}

#u1283-4popup
{
	z-index: 640;
}

#u1270-4popup
{
	z-index: 644;
}

#u1191-14
{
	z-index: 648;
	width: 820px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	margin-left: 88px;
	position: relative;
}

#u1113
{
	z-index: 491;
	width: 300px;
	background-color: transparent;
	margin-left: 89px;
	margin-top: 62px;
	position: relative;
}

#u1116-28
{
	z-index: 493;
	width: 820px;
	min-height: 161px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	font-family: open-sans, sans-serif;
	margin-left: 89px;
	margin-top: 30px;
	position: relative;
}

#u1094-2,#u1116-2
{
	font-size: 20px;
	line-height: 30px;
	padding-top: 11px;
	font-weight: 400;
}

#u1094-4,#u1116-4
{
	font-size: 20px;
	line-height: 30px;
	padding-top: 11px;
	font-weight: 700;
}

#u1116-9,#u1116-11,#u1116-13,#u1116-18,#u1116-23
{
	font-size: 16px;
	line-height: 24px;
	padding-top: 11px;
	font-weight: 400;
}

#u1170-5,#u1102-11,#u1102-23,#u1112-7,#u1112-10,#u1111-8,#u1111-17,#u1346-6,#u1116-6,#u1116-15,#u1116-20
{
	color: #305AA5;
	font-weight: 700;
}

#u1116-25,#u1116-26
{
	font-size: 16px;
	line-height: 24px;
	padding-top: 11px;
	font-weight: 700;
}

#u1156
{
	z-index: 521;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1227-10
{
	z-index: 523;
	width: 820px;
	min-height: 70px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1096
{
	z-index: 533;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1103-6
{
	z-index: 666;
	width: 820px;
	min-height: 70px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1105
{
	z-index: 664;
	width: 821px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1328
{
	z-index: 672;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	margin-top: 19px;
	position: relative;
}

#u1167-19
{
	z-index: 537;
	width: 820px;
	min-height: 70px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1149
{
	z-index: 535;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1342
{
	z-index: 556;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	margin-top: 20px;
	position: relative;
}

#u1190-8
{
	z-index: 585;
	width: 820px;
	min-height: 70px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	margin-top: 1px;
	position: relative;
}

#slideshowu1230
{
	z-index: 558;
	width: 0.01px;
	height: 519px;
	position: relative;
}

#u1314,#u1132,#u1257,#u1246
{
	position: absolute;
	width: 820px;
	height: 460px;
	background-color: transparent;
	left: 88px;
}

#u1246popup
{
	z-index: 559;
}

#u1247
{
	z-index: 560;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1249
{
	z-index: 562;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1251
{
	z-index: 564;
	width: 820px;
	height: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1315_clip,#u1323_clip,#u1319_clip,#u1321_clip,#u1317_clip,#u1135_clip,#u1139_clip,#u1133_clip,#u1137_clip,#u1264_clip,#u1258_clip,#u1266_clip,#u1260_clip,#u1262_clip,#u1247_clip,#u1249_clip,#u1251_clip
{
	overflow: hidden;
	width: 820px;
	height: 460px;
}

#u1135_img,#u1139_img,#u1247_img,#u1249_img,#u1251_img
{
	margin-top: -1px;
}

#u1303,#u1123,#u1233
{
	position: absolute;
	width: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 9px;
}

#u1233popup
{
	z-index: 566;
}

#u1236
{
	z-index: 567;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u1306.SSSlideLinkSelected,#u1204.SSSlideLinkSelected,#u1130.SSSlideLinkSelected,#u1273.SSSlideLinkSelected,#u1236.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1238
{
	z-index: 569;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 4px;
}

#u1308.SSSlideLinkSelected,#u1200.SSSlideLinkSelected,#u1124.SSSlideLinkSelected,#u1279.SSSlideLinkSelected,#u1238.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u1234
{
	z-index: 571;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 4px;
}

#u1310.SSSlideLinkSelected,#u1202.SSSlideLinkSelected,#u1128.SSSlideLinkSelected,#u1275.SSSlideLinkSelected,#u1234.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 110px -10000px 0px 0px;
}

#u1326-4,#u1120-4,#u1291-4,#u1245-4
{
	position: absolute;
	width: 203px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 478px;
	left: 387px;
}

#u1245-4popup
{
	z-index: 573;
}

#u1296-4,#u1121-4,#u1283-4,#u1255-4
{
	position: absolute;
	width: 153px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 478px;
	left: 210px;
}

#u1255-4popup
{
	z-index: 577;
}

#u1295-4,#u1141-4,#u1270-4,#u1240-4
{
	position: absolute;
	width: 152px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 477px;
	left: 614px;
}

#u1240-4popup
{
	z-index: 581;
}

#u1224-8
{
	z-index: 593;
	width: 820px;
	min-height: 70px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	margin-left: 88px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1165
{
	z-index: 601;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 88px;
	position: relative;
}

#u1089-6
{
	z-index: 605;
	width: 820px;
	min-height: 70px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 88px;
	position: relative;
}

#u1087
{
	z-index: 603;
	width: 820px;
	background-color: transparent;
	margin-left: 88px;
	position: relative;
}

#u1159-10
{
	z-index: 674;
	width: 819px;
	min-height: 128px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	position: relative;
}

#u1225
{
	z-index: 684;
	width: 819px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1155-13
{
	z-index: 686;
	width: 819px;
	min-height: 128px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 90px;
	position: relative;
}

#u1104-3,#u1099-3,#u1099-5,#u1082-3,#u1082-8,#u1082-10,#u1098-5,#u1098-3,#u1098-6,#u1098-9,#u1098-8,#u1098-10,#u1098-18,#u1098-19,#u1098-24,#u1098-25,#u1095,#u1107-4,#u1112-2,#u1108-6,#u1108-8,#u1184-5,#u1171-2,#u1191-11,#u1191-12,#u1227-3,#u1227-5,#u1167-3,#u1167-5,#u1167-10,#u1190-3,#u1224,#u1224-5,#u1224-3,#u1159-3,#u1155-6,#u1155-8
{
	font-weight: 700;
}

#u1334
{
	z-index: 699;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-left: 89px;
	position: relative;
}

#u1341-5
{
	z-index: 701;
	width: 819px;
	min-height: 128px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 90px;
	position: relative;
}

#u1098,#u1098-2,#u1098-4,#u1098-7,#u1098-11,#u1098-14,#u1098-17,#u1098-20,#u1098-23,#u1098-27,#u1098-28,#u1095-3,#u1095-4,#u1095-6,#u1095-7,#u1107,#u1107-3,#u1108-9,#u1158-2,#u1158-4,#u1191,#u1191-3,#u1191-5,#u1191-6,#u1191-8,#u1191-9,#u1227-4,#u1167-11,#u1224-2,#u1224-4,#u1224-6,#u1089-2,#u1159-6,#u1155-2,#u1155-9,#u1341-2
{
	font-weight: 400;
}

#u1338-13
{
	z-index: 478;
	width: 820px;
	min-height: 128px;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 89px;
	position: relative;
}

#u1338-2,#u1338-4,#u1338-5
{
	padding-top: 11px;
}

#u1427-4
{
	z-index: 27;
	width: 205px;
	margin-left: 397px;
	margin-top: 23px;
}

body
{
	position: relative;
	min-width: 1220px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

