.ts-------------1
{
	font-family: open-sans-n4, sans-serif;
}

#u151-4
{
	font-family: open-sans-n4, sans-serif;
}

#u150-4
{
	font-family: open-sans-n4, sans-serif;
}

#u152-4
{
	font-family: open-sans-n4, sans-serif;
}

#u153-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1507-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1427-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1550-5,#u1551-6,#u1559-27,#u1562-16,#u1565-25,#u1608-11,#u1603-12,#u1611-6,#u1642-9,#u2518-6,#u1607-6,#u1641-6,#u1647-12,#u1604-9,#u1614-13,#u1751-4
{
	font-family: open-sans-n4, sans-serif;
}

