.ts-------------1
{
	font-family: open-sans-n4, sans-serif;
}

#u150-4
{
	font-family: open-sans-n4, sans-serif;
}

#u151-4
{
	font-family: open-sans-n4, sans-serif;
}

#u152-4
{
	font-family: open-sans-n4, sans-serif;
}

#u153-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1427-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1221-5,#u1151-6,#u1170-13,#u1102-29,#u1104-8,#u1347-6,#u1099-13,#u1082-15,#u1098-30,#u1095-9,#u1218-6,#u1154-6,#u1107-6,#u1112-16,#u1094-7,#u1115-4,#u1111-23,#u1108-13,#u1184-19,#u1185-11,#u1171-13,#u1158-8,#u1176-9,#u1117-6,#u1162-6,#u1346-12,#u1181-9,#u1191-14,#u1116-28,#u1227-10,#u1103-6,#u1167-19,#u1190-8,#u1224-8,#u1089-6,#u1159-10,#u1155-13,#u1341-5,#u1338-13
{
	font-family: open-sans-n4, sans-serif;
}

