.version.index /* version checker */
{
	color: #0000FD;
	background-color: #DA296A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 967px;
	min-height: 1460px;
	background: -webkit-gradient(linear, left center, right center, from(#574791),color-stop(100%, #346695));
	background: -webkit-linear-gradient(left,#574791 ,#346695 100%);
	background: linear-gradient(to right,#574791 ,#346695 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF574791, endColorstr=#FF346695, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF574791', endColorstr='#FF346695', GradientType=1)";
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 126px 20px 127px;
}

#ppu2293
{
	width: 0.01px;
	margin-left: 3px;
}

#u2293
{
	z-index: 28;
	height: 55px;
	width: 159px;
	margin-bottom: -4px;
	margin-right: -10000px;
}

#u143
{
	z-index: 2;
	width: 504px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

#u151-4
{
	z-index: 11;
	width: 73px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 11px;
}

#u151-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u151-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u150-4
{
	z-index: 7;
	width: 73px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 110px;
}

#u150-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 7px -10000px 0px 0px;
}

#u150-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 7px -10000px 0px 0px;
}

#u152-4
{
	z-index: 15;
	width: 49px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 210px;
}

#u152-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 49px;
	margin: 7px -10000px 0px 0px;
}

#u152-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 49px;
	margin: 7px -10000px 0px 0px;
}

#u153-4
{
	z-index: 19;
	width: 128px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 286px;
}

#u153-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 128px;
	margin: 8px -10000px 0px 0px;
}

#u153-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 128px;
	margin: 8px -10000px 0px 0px;
}

#u1507-4
{
	z-index: 23;
	width: 50px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 441px;
}

#u1507-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 50px;
	margin: 9px -10000px 0px 0px;
}

#u1507-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 50px;
	margin: 9px -10000px 0px 0px;
}

#u2484
{
	z-index: 30;
	width: 30px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 903px;
}

#u2485
{
	z-index: 31;
	width: 30px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 933px;
}

#u2484:hover,#u2485:hover
{
	width: 30px;
	height: 30px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u189
{
	z-index: 32;
	width: 965px;
	border-color: #FF0000;
	background-color: #6A5ACD;
	padding-bottom: 17px;
	margin-left: 1px;
	margin-top: 60px;
	position: relative;
}

#u189:hover
{
	background-color: #A9A9B3;
	width: 965px;
	min-height: 0px;
	margin: 60px 0px 0px 1px;
}

#u2330
{
	z-index: 75;
	width: 281px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u2330_clip
{
	overflow: hidden;
	width: 281px;
	height: 189px;
}

#u2330_img
{
	margin-left: -40px;
	margin-right: -15px;
}

#u190-11
{
	z-index: 33;
	width: 646px;
	min-height: 189px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 299px;
}

#u2299
{
	z-index: 44;
	width: 965px;
	border-color: #FF0000;
	background-color: #6A5ACD;
	padding-bottom: 17px;
	margin-top: 16px;
	position: relative;
}

#u2299:hover
{
	background-color: #A9A9B3;
	width: 965px;
	min-height: 0px;
	margin: 16px 0px 0px;
}

#u2324
{
	z-index: 73;
	width: 281px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u2300-11
{
	z-index: 45;
	width: 646px;
	min-height: 189px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 299px;
}

#u2304
{
	z-index: 56;
	width: 965px;
	border-color: #FF0000;
	background-color: #6A5ACD;
	padding-bottom: 17px;
	margin-top: 15px;
	position: relative;
}

#u2304:hover
{
	background-color: #A9A9B3;
	width: 965px;
	min-height: 0px;
	margin: 15px 0px 0px;
}

#u2321
{
	z-index: 71;
	width: 281px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u2305-11
{
	z-index: 57;
	width: 646px;
	min-height: 189px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 299px;
}

#u190-11:hover,#u2300-11:hover,#u2305-11:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 189px;
	width: 646px;
	margin: 18px -10000px 0px 0px;
}

#u190-11:hover p,#u190-11:hover h1,#u190-11:hover h2,#u2300-11:hover p,#u2300-11:hover h1,#u2300-11:hover h2,#u2305-11:hover p,#u2305-11:hover h1,#u2305-11:hover h2
{
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#u190-2,#u190-4,#u2300-2,#u2300-4,#u2305-2,#u2305-4
{
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-5,#u2300-5,#u2305-5
{
	line-height: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-9,#u2300-9,#u2305-9
{
	line-height: 19px;
}

#u2483-4
{
	z-index: 77;
	width: 546px;
	min-height: 25px;
	background-color: transparent;
	line-height: 96px;
	color: #00FEEC;
	font-size: 80px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 210px;
	margin-top: 234px;
	position: relative;
}

#u2312
{
	z-index: 69;
	height: 76px;
	width: 105px;
	vertical-align: top;
	margin-left: 430px;
	margin-top: 242px;
	position: relative;
	background: url("../images/u2312.png") no-repeat 0px 0px;
}

#u2312:hover
{
	background: url("../images/u2312-r.png") no-repeat 0px 0px;
}

#u1427-4
{
	z-index: 3;
	width: 177px;
	margin-left: 395px;
	margin-top: 23px;
}

body
{
	position: relative;
	min-width: 1220px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

