.version.index /* version checker */
{
	color: #0000FB;
	background-color: #5F630C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 965px;
	min-height: 1457.9600000000005px;
	background: -webkit-gradient(linear, left center, right center, from(#574791),color-stop(100%, #346695));
	background: -webkit-linear-gradient(left,#574791 ,#346695 100%);
	background: linear-gradient(to right,#574791 ,#346695 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF574791, endColorstr=#FF346695, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF574791', endColorstr='#FF346695', GradientType=1)";
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 127px 22.03999999999951px 128px;
}

#pu161
{
	width: 0.01px;
	margin-left: 2px;
}

#u161
{
	z-index: 25;
	width: 159px;
	margin-right: -10000px;
}

#u160
{
	z-index: 2;
	width: 353px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 603px;
}

#u149
{
	z-index: 3;
	width: 353px;
	margin-right: -10000px;
}

#u143
{
	z-index: 4;
	width: 353px;
	margin-right: -10000px;
}

#u145
{
	z-index: 5;
	width: 98px;
	height: 34px;
	margin-right: -10000px;
}

#u146
{
	z-index: 6;
	width: 99px;
	height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u147
{
	z-index: 7;
	width: 72px;
	height: 34px;
	margin-right: -10000px;
	left: 202px;
}

#u148
{
	z-index: 8;
	width: 77px;
	height: 34px;
	margin-right: -10000px;
	left: 276px;
}

.ie #u145,.ie #u146,.ie #u147,.ie #u148
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u150-4
{
	z-index: 9;
	width: 73px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 110px;
}

#u150-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u151-4
{
	z-index: 13;
	width: 73px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u150-4.MuseLinkActive,#u151-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u151-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u152-4
{
	z-index: 17;
	width: 49px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 212px;
}

#u152-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 49px;
	margin: 6px -10000px 0px 0px;
}

#u152-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 49px;
	margin: 6px -10000px 0px 0px;
}

#u153-4
{
	z-index: 21;
	width: 54px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 288px;
}

#u153-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 54px;
	margin: 6px -10000px 0px 0px;
}

#u153-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 54px;
	margin: 6px -10000px 0px 0px;
}

#u189
{
	z-index: 31;
	width: 965px;
	border-color: #FF0000;
	background-color: transparent;
	padding-bottom: 15px;
	left: -1px;
	margin-top: 70px;
	position: relative;
}

#u189:hover
{
	-pie-box-shadow: 0px 0px 8px 2px #7F7F7F;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	background-color: #435893;
	width: 965px;
	min-height: 0px;
	margin: 70px 0px 0px;
}

#u1431
{
	z-index: 41;
	width: 281px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u1431_clip
{
	overflow: hidden;
	width: 281px;
	height: 191px;
}

#u1431_img
{
	margin-left: -59px;
}

#u190-9
{
	z-index: 32;
	width: 646px;
	min-height: 189px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 299px;
}

#u190-9:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 189px;
	width: 646px;
	margin: 18px -10000px 0px 0px;
}

#u190-9:hover p,#u190-9:hover h1,#u190-9:hover h2
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#u190-2
{
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-3
{
	line-height: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-7
{
	font-size: 16px;
	line-height: 19px;
}

#u1427-4
{
	z-index: 27;
	width: 205px;
	margin-left: 380px;
	margin-top: 1136px;
}

body
{
	position: relative;
	min-width: 1220px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

