#u160,#u149
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u161,#u143
{
	background-color: transparent;
	position: relative;
}

#u145,#u146,#u147,#u148
{
	position: relative;
}

#u150-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u150-4:hover p
{
	color: #0AFFEF;
	visibility: inherit;
}

#u151-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u151-4:hover p
{
	color: #0AFFEF;
	visibility: inherit;
}

#u152-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u152-4:hover p
{
	color: #0AFFEF;
	visibility: inherit;
}

#u153-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u153-4:hover p
{
	color: #0AFFEF;
	visibility: inherit;
}

#u150-4.MuseLinkActive p,#u151-4.MuseLinkActive p,#u152-4.MuseLinkActive p,#u153-4.MuseLinkActive p
{
	color: #487DC6;
	visibility: inherit;
}

#u1427-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

