#u2473
{
	background-color: transparent;
	position: relative;
}

#u2479
{
	position: relative;
	background: transparent url("../../images/fb_btn-u2479-fr.png") no-repeat left top;
	background-size: contain;
}

#u2479:hover
{
	background: transparent url("../../images/fb_btn-u2479-r-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u2480
{
	position: relative;
	background: transparent url("../../images/twitter_btn-u2480-fr.png") no-repeat left top;
	background-size: contain;
}

#u2480:hover
{
	background: transparent url("../../images/twitter_btn-u2480-r-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u2430-4
{
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2430-4:hover p
{
	color: #0AFFEF;
	visibility: inherit;
}

#u2429-4
{
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2429-4:hover p
{
	color: #0AFFEF;
	visibility: inherit;
}

#u2431-4
{
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2431-4:hover p
{
	color: #0AFFEF;
	visibility: inherit;
}

#u2432-4
{
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2432-4:hover p
{
	color: #0AFFEF;
	visibility: inherit;
}

#u2433-4
{
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2433-4:hover p
{
	color: #0AFFEF;
	visibility: inherit;
}

#u2430-4.MuseLinkActive p,#u2429-4.MuseLinkActive p,#u2431-4.MuseLinkActive p,#u2432-4.MuseLinkActive p,#u2433-4.MuseLinkActive p
{
	color: #487DC6;
	visibility: inherit;
}

#u2466-4
{
	background-color: transparent;
	line-height: 10px;
	font-size: 8px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

